<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <table class="table">
        <thead>
          <tr>
            <th score = "col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col"> ADD</th>
            <th scope="col"> Remove</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>

          </tr>

            <% product_data.forEach(function(data) { %>
            <tr>

            <td><%= data.id %></td>
            <td><%= data.title%></td>
            <td><%= data.desc%></td> 
            <td><%= data.categories%></td>
            <td class = <%= data.id%>    ><%= data.price%></td> 
            <td>
                <form action="cart/add/<%-data.id%>" class=<%=data.id%> method = "POST">
                    <button class="btn btn-sm btn-primary" style = background-color:rgb(103,101,221)>ADD</button>
                </form>
            </td>
            <td>
                <form action="cart/remove/<%-data.id%>" class=<%=data.id%> method= "POST">
                    <button class="btn btn-sm btn-primary" style = background-color:rgb(164,78,78)>REMOVE</button>
                </form>
            </td>
            <td>
                <%=data.quantity%>
            </td>

            <td class="total">
                <%=data.total%>
            </td>
             
            </tr>

            <% }); %> 
        </thead>

        </table>

    <h5 id = "total-price"> Total :></h5>

    <div class="cart-item">
        <form id="checkout" action="/checkout" method="POST">
            <input type="text" id = "checkout_price" hidden name="price">

            <button type="submit">Checkout</button>

        </form>
    </div>


   
</body>


<script>
    let total = 0;
    let collection = document.getElementsByClassName('total');
    for(var i = 0; i < collection.length; i++)
    {
        total+= (Number(collection[i].outerText))
    }
            

    document.getElementById('total-price').innerText = `Total :${total} `
    document.getElementById('checkout_price').value = total
    </script>

</html>