<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <table class="table">
        <thead>
          <tr>
            <th score = "col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>

          </tr>

            <% data.forEach(function(data) { %>
            <tr>

            <td><%= data.id %></td>
            <td><%= data.title%></td>
            <td><%= data.desc%></td> 
            <td><%= data.categories%></td>
            <td class = <%= data.id%>    ><%= data.price%></td> 
            <td>
                <input type="number" value="0" class=<%= data.id%> oninput = "modifyPrice(<%= data.id%>)", name="quantity" min="0" max="10"> 
            
            </td>

            <td class = "total" id=<%= data.id%>>
            </td>
         

            </tr>

            <% }); %> 
        </thead>

        </table>


    <div class="cart-item">
        <form id="checkout" action="/checkout/<%= username%>" method="POST">
            
            <h5 id = "total-price"> Total :</h5>
            <button type="submit">Checkout</button>

        </form>
    </div>
</body>
<script>
    let dict = {}

   function modifyPrice(id){
    let collection = document.getElementsByClassName(id)
    let quantity = collection[1].value
    let price = collection[0].innerHTML
    document.getElementById(id).innerText = (quantity*price)
    let over_all = 0

    collection = (document.getElementsByClassName("total"))
    
    for (let i = 0; i < collection.length; i++) {
        over_all = over_all + Number(collection[i].outerText)
    }

    document.getElementById("total-price").innerHTML = `Total Rs : ${over_all}`
    if (quantity>0){
        dict[id] = quantity

    }
   console.log(document.getElementById('checkout').elements['1'])
   for (let key in dict){
    
    if (document.getElementById("checkout").elements[key]!= undefined){
        document.getElementById("checkout").elements[key].value = dict[key]
    }

    else{

    var input = document.createElement('input');
    input .setAttribute('name',key);
    input .setAttribute('type',"hidden");

    input.setAttribute('value',dict[key])
    document.getElementById("checkout").appendChild(input);
    }
    
    console.log(key,dict[key])
   }

   }
   

</script>
</html>